---
import LinkNav from "./LinkNav.astro";
---

<header>
	<nav class="flex justify-between">
		<LinkNav href="/" img_src="favicon-32x32.png" />
		<ul class="flex space-x-2">
			<li>
				<LinkNav href="/" img_src="github-142-svgrepo-com.svg" />
			</li>
			<li>
				<LinkNav href="/" img_src="github-142-svgrepo-com.svg" />
			</li>
			<li>
				<LinkNav href="/" img_src="linkedin-round-svgrepo-com.svg" />
			</li>
		</ul>
	</nav>
</header>
