<figure class="flex justify-center my-4">
    <img
        src="profile.jpg"
        alt="profile photo"
        class="rounded-full w-24 mr-4 grayscale opacity-75 hover:opacity-100 transition duration-300 ease-in-out"
    />
    <figcaption class="my-auto">
        <div class="text-2xl">Joaquin Blanco</div>
        <div class="text-tertiary">
            <p class="text-sm">Full Stack Developer</p>
            <p class="text-sm">Profesor en Desarrollo de Sistemas</p>
        </div>
    </figcaption>
</figure>
