---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Profile from "../components/HeroProfile.astro";
import Nav from "../components/Nav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-primary text-secondary font-serif mx-4">
        <Header title={SITE_TITLE} />
        <Profile />
        <Nav />
        <slot />
    </body>
</html>
